.apartments {
  padding: 0 0 8.75rem;
}

.apartments__title {
  margin-bottom: 1.95em;

  font-family: $secondary-fonts;
  text-align: center;
}

.apartments__slider {
  margin: 0;
  padding: 0;

  list-style: none;
}

