.header {
  background-color: $main-bg-color;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
}

.header__logo-link {
  position: relative;
  z-index: 1;

  display: flex;
}
