.slider__item {
  position: relative;
}

.slider__item-text {
  position: absolute;
  top: 60px;
  right: 120px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  height: 284px;
  padding: 2.5em 6.25em;

  background-color: $fourth-bg-color;
  box-shadow: 0 0 25px $secondary-box-shadow;
  border-radius: 8px;
}

.slider__item-title {
  display: block;
  width: 100%;
  margin-bottom: 1em;

  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: $secondary-fonts;
  font-weight: 500;
  font-size: 1.375em;
  line-height: 1.18em;

  overflow: hidden;
}

.slider__item-feature-list {
  width: 100%;
  margin: 0 0 0.625rem;
  padding: 0;

  list-style: none;
}

.slider__item-feature {
  position: relative;

  width: 100%;
  margin-bottom: 1em;
  padding-left: 21px;

  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1em;
  line-height: 1em;

  overflow: hidden;

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 0;

    width: 13px;
    height: 13px;
    margin-top: -6.5px;

    background-color: $secondary-bg-color;
    border-radius: 100px;
  }
}
