.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: $mobile-width;
  padding: 0 16px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container {
    max-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: $desktop-width;
    padding: 0 20px;
  }
}
