// Template Colors
// Here you can add colors from theme
$main-color-text: #1a212f;
$secondary-color-text: #fac663;
$third-color-text: #fffefd;
$fourth-color-text: #848484;

$main-bg-color: #fffefd;
$secondary-bg-color: #fac663;
$third-bg-color: #ff7236;
$fourth-bg-color: #ffffff;
$fifth-bg-color: #efefef;
$sixth-bg-color: #1a212f;

// Template breakpoints
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1140px;

// Template retina media
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Template fonts for body
$main-fonts: "Lato", "Arial", "sans-serif";
$secondary-fonts: "Rubik", "Arial", "sans-serif";

// box-shadow
$main-box-shadow: rgba(26, 33, 47, 0.1);
$secondary-box-shadow: rgba(208, 208, 208, 0.25);
